<!-- Footer -->
<footer class="template-footer">

	<div class="container-footer">
        <div class="footer-content">

        {{widget('socialicons', 'footer-socialnetworks', {'googleplus': 'profile', 'linkedin':'profile', 'facebook': 'profile', 'twitter': 'profile', 'youtube': 'profile', 'rss': 'profile'})|raw}}

            <div class="brand-icons__template-footer">
                {% if plugins.ecommerce.store.live %}
                    {{widget('image', 'payment-image-1', {'src': asset('/images/visa-logo.png')})|raw}}
                    {{widget('image', 'payment-image-2', {'src': asset('/images/mastercard-logo.png')})|raw}}
                    {{widget('image', 'payment-image-3', {'src': asset('/images/paypal-logo.png')})|raw}}
                    {{widget('image', 'payment-image-4', {'src': asset('/images/stripe-logo.png')})|raw}}
                {% endif %}
            </div>

        {{widget('content', 'footer-content', { content: '<p>© Copyright 2015 Everest Cycles</p>'})|raw}}
	   </div>
    </div>

</footer>
<!-- End Footer -->
